*{
    margin: 0;
}


html, body {
    --grey:hsl(240, 9%, 89%, );


    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;
   
    
}

main.main{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

width: 375px;
height: 812px;
}
.conteiner{
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: var(--grey);

}

.avatar{
    width: 10rem;
    margin: 11.5rem auto 0 ;
    object-fit: cover;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.foto{
    width: 160px;
    height: 184px;
}
h1{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    margin-top: 0.25rem;
    text-decoration: none;
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin-top: 2rem;
}
ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex; /* o display flex deixou os itens alinhados um do lado do  outro e liberou a função gap e justify-content (também serve no display grid)*/
    gap: 0.5rem; 
    justify-content: center;
}

.icon{
    width: 20px;
}
